{
  "log": {
    "_recordingName": "metric: TimeToMerge/no problems for test repo when no merged PRs are found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e3187ba24442cd0fd368c7617c741138",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "token *****"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n  query {\\n    search(query: \\\"repo:bantic/github-metrics-tests is:pr merged:2021-05-04T18:00:00Z..2021-05-04T18:01:00Z sort:updated-desc\\\", type:ISSUE, first:100) {\\n      nodes {\\n        ...on PullRequest {\\n          number\\n        }\\n      }\\n    }\\n  }\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 102,
            "text": "[\"1f8b0800000000000003ab564a492c4954b2aa562a4e4d2c4ace00b1f2f253528b95aca2636b6b6b0186b7f0a820000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": ""
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4989"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1620673153"
            },
            {
              "name": "x-ratelimit-used",
              "value": "11"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
